body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
}

#skin-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
  padding: 10px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}